# Inserts a blank line between shell prompts
add_newline = true
command_timeout = 1000

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$hg_branch\
$cmd_duration\
$nodejs\
$python\
$character"""

# # Replace the 'â¯' symbol in the prompt
# [character]
# success_symbol = '[->](italic cyan)'
